<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">Ничего не найдено в таблице Тип продукта!</h2>
    <div th:case="*">
        <h2>Table Products</h2>
        <table class="centered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование типа продукта</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="products : ${products}">
                <td th:text="${products.id}"></td>
                <td th:text="${products.nameTypeVegetable}"></td>
                <td><a th:href="@{products-update/{id}(id=${products.id})}">Edit</a></td>
                <td><a th:href="@{products-delete/{id}(id=${products.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p> <a href="/products-create" class="waves-effect waves-light btn">Create products</a>
        <a href="/" class="waves-effect waves-light btn">Back to main page</a>
    </p>
</div>
</body>
</html>