<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Vegetable Warehouse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h3>List of Vegetable</h3>
<table class="centered">
    <thead>
        <tr>
            <th>номер</th>
            <th>штрих-код</th>
            <th>тип склада</th>
            <th>товар</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="BaseProducts:${baseProducts}">
            <td th:text="${BaseProducts.id}"/>
            <td th:text="${BaseProducts.barcode}"/>
            <td th:text="${BaseProducts.typeWarehouse}"/>
            <td th:text="${BaseProducts.goods}"/>
        </tr>
    </tbody>
</table>

<form action="#" th:action="@{/}" th:object="${newBaseProducts}" method="post">
    <p>barcode:      <input type="text" th:field="*{barcode}"></p>
    <p>warehouseName:<input type="text" th:field="*{typeWarehouse}"></p>
    <p>goodsName:    <input type="text" th:field="*{goods}"></p>
    <p><input type="submit" value="Create new Vegetable" class="btn btn-primary green"/> <input type="reset" value="Reset" class="btn btn-danger"/> </p>
</form>
<p><a href="/units" class="waves-effect waves-light btn">Go edit table Units</a></p>
<p><a href="/type-warehouse" class="waves-effect waves-light btn">Go edit table Type Warehouse</a></p>
<p><a href="/suppliers" class="waves-effect waves-light btn">Go edit table Suppliers</a></p>
<p><a href="/clients" class="waves-effect waves-light btn">Go edit table Clients</a></p>
<p><a href="/employee" class="waves-effect waves-light btn">Go edit table Employee</a></p>
<p><a href="/products" class="waves-effect waves-light btn">Go edit table Products</a></p>
<p><a href="/goods" class="waves-effect waves-light btn">Go edit table Goods</a></p>
<p><a href="/sales" class="waves-effect waves-light btn">Go edit table Sales</a></p>
<p><a href="/purchase" class="waves-effect waves-light btn">Go edit table Purchase</a></p>

</body>
</html>